In [163]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [164]:
data_file = "homeless_impact.csv"
homeless = pd.read_csv(data_file)
homeless

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Alameda,2020-04-14,403.0,115.0,91.0,85.0,NaN
1,Alpine,2020-04-14,NaN,NaN,NaN,NaN,NaN
2,Amador,2020-04-14,NaN,NaN,NaN,NaN,NaN
3,Butte,2020-04-14,65.0,65.0,NaN,NaN,NaN
4,Calaveras,2020-04-14,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
8608,Ventura County,2020-10-16,341.0,144.0,NaN,NaN,NaN
8609,Yolo County,2020-10-16,156.0,144.0,NaN,NaN,NaN
8610,Yuba County,2020-10-16,NaN,NaN,NaN,NaN,NaN
8611,Wilton Rancheria Tribe,2020-10-16,NaN,NaN,NaN,NaN,NaN
8612,Bishop Paiute Tribal Council,2020-10-16,NaN,NaN,NaN,NaN,NaN

In [165]:
#remove columns that don't need
homeless_rooms = homeless.drop(['donated_trailers_delivered','trailers_requested','trailers_delivered'],axis=1)
homeless_rooms

                            county        date  rooms  rooms_occupied
0                          Alameda  2020-04-14  403.0           115.0
1                           Alpine  2020-04-14    NaN             NaN
2                           Amador  2020-04-14    NaN             NaN
3                            Butte  2020-04-14   65.0            65.0
4                        Calaveras  2020-04-14    NaN             NaN
...                            ...         ...    ...             ...
8608                Ventura County  2020-10-16  341.0           144.0
8609                   Yolo County  2020-10-16  156.0           144.0
8610                   Yuba County  2020-10-16    NaN             NaN
8611        Wilton Rancheria Tribe  2020-10-16    NaN             NaN
8612  Bishop Paiute Tribal Council  2020-10-16    NaN             NaN

[8613 rows x 4 columns]

In [166]:
#remove all NaN
homeless_rooms = homeless_rooms.dropna(how = 'any')
homeless_rooms

               county        date   rooms  rooms_occupied
0             Alameda  2020-04-14   403.0           115.0
3               Butte  2020-04-14    65.0            65.0
9              Fresno  2020-04-14   305.0           250.0
18        Los Angeles  2020-04-14  2654.0           535.0
20              Marin  2020-04-14    80.0            43.0
...               ...         ...     ...             ...
8603    Sutter County  2020-10-16    21.0            15.0
8606    Tulare County  2020-10-16   133.0            87.0
8607  Tuolumne County  2020-10-16    21.0            21.0
8608   Ventura County  2020-10-16   341.0           144.0
8609      Yolo County  2020-10-16   156.0           144.0

[5311 rows x 4 columns]

In [167]:
#Standardize county name
homeless_rooms=homeless_rooms.sort_values(by = ['county'],ascending=True)

homeless_rooms.county.unique()

array(['Alameda', 'Alameda ', 'Alameda County', 'Butte', 'Butte ',
       'Butte County', 'Calaveras', 'Calaveras ', 'Calaveras County',
       'Contra Costa', 'Contra Costa ', 'Contra Costa County',
       'Del Norte County', 'El Dorado County', 'Fresno', 'Fresno ',
       'Fresno County', 'Humboldt', 'Humboldt County', 'Imperial County',
       'Kern County', 'Kings County', 'Lassen County', 'Los Angeles',
       'Los Angeles ', 'Los Angeles County', 'Madera', 'Madera County ',
       'Marin', 'Marin ', 'Marin County ', 'Mariposa', 'Mariposa ',
       'Mariposa County', 'Mendocino', 'Mendocino ', 'Mendocino County',
       'Merced', 'Merced County', 'Monterey County', 'Napa', 'Napa ',
       'Napa County ', 'Nevada', 'Nevada County ', 'Orange', 'Orange ',
       'Orange County', 'Placer', 'Placer ', 'Placer County',
       'Plumas County', 'Riverside', 'Riverside ', 'Riverside County',
       'Sacramento', 'Sacramento ', 'Sacramento County', 'San Benito',
       'San Benito ', 'San Benito County', 'San Bernardino',
       'San Bernardino ', 'San Bernardino\xa0County', 'San Diego',
       'San Diego ', 'San Diego County', 'San Francisco',
       'San Joaquin County', 'San Mateo', 'San Mateo ',
       'San Mateo County', 'Santa Barbara', 'Santa Barbara ',
       'Santa Barbara County', 'Santa Clara', 'Santa Clara ',
       'Santa Clara County', 'Santa Cruz', 'Santa Cruz ',
       'Santa Cruz County', 'Shasta County', 'Siskiyou County',
       'Solano County', 'Sonoma', 'Sonoma ', 'Sonoma County',
       'Stanislaus', 'Stanislaus ', 'Stanislaus County', 'Sutter',
       'Sutter ', 'Sutter County', 'Tulare County', 'Tuolumne County',
       'Ventura', 'Ventura ', 'Ventura County', 'Yolo', 'Yolo ',
       'Yolo County', 'Yuba', 'Yuba ', 'Yuba County'], dtype=object)

In [168]:
for i in homeless_rooms.index:
    if (homeless_rooms.loc[i,'county']== 'Alameda ')| (homeless_rooms.loc[i,'county']== 'Alameda County'):
        homeless_rooms.loc[i,'county'] = 'Alameda'
    if (homeless_rooms.loc[i,'county']== 'Butte ')| (homeless_rooms.loc[i,'county']== 'Butte County'):
        homeless_rooms.loc[i,'county'] = 'Butte'
    if (homeless_rooms.loc[i,'county']== 'Calaveras ')| (homeless_rooms.loc[i,'county']== 'Calaveras County'):
        homeless_rooms.loc[i,'county'] = 'Calaveras'
    if (homeless_rooms.loc[i,'county']== 'Contra Costa ')| (homeless_rooms.loc[i,'county']== 'Contra Costa County'):
        homeless_rooms.loc[i,'county'] = 'Contra Costa'
    if (homeless_rooms.loc[i,'county']== 'Fresno ')| (homeless_rooms.loc[i,'county']== 'Fresno County'):
        homeless_rooms.loc[i,'county'] = 'Fresno'
    if (homeless_rooms.loc[i,'county']== 'Humboldt ')| (homeless_rooms.loc[i,'county']== 'Humboldt County'):
        homeless_rooms.loc[i,'county'] = 'Humboldt'
    if (homeless_rooms.loc[i,'county']== 'Los Angeles ')| (homeless_rooms.loc[i,'county']== 'Los Angeles County'):
        homeless_rooms.loc[i,'county'] = 'Los Angeles'
    if (homeless_rooms.loc[i,'county']== 'Madera ')| (homeless_rooms.loc[i,'county']== 'Madera County '):
        homeless_rooms.loc[i,'county'] = 'Madera'
    if (homeless_rooms.loc[i,'county']== 'Marin ')| (homeless_rooms.loc[i,'county']== 'Marin County '):
        homeless_rooms.loc[i,'county'] = 'Marin'
    if (homeless_rooms.loc[i,'county']== 'Del Norte')| (homeless_rooms.loc[i,'county']== 'Del Norte County'):
        homeless_rooms.loc[i,'county'] = 'Del Norte'
    if (homeless_rooms.loc[i,'county']== 'El Dorado ')| (homeless_rooms.loc[i,'county']== 'El Dorado County'):
        homeless_rooms.loc[i,'county'] = 'El Dorado'
    if (homeless_rooms.loc[i,'county']== 'Imperial ')| (homeless_rooms.loc[i,'county']== 'Imperial County'):
        homeless_rooms.loc[i,'county'] = 'Imperial'
    if (homeless_rooms.loc[i,'county']== 'Kern ')| (homeless_rooms.loc[i,'county']== 'Kern County'):
        homeless_rooms.loc[i,'county'] = 'Kern'
    if (homeless_rooms.loc[i,'county']== 'Kings ')| (homeless_rooms.loc[i,'county']== 'Kings County'):
        homeless_rooms.loc[i,'county'] = 'Kings'
    if (homeless_rooms.loc[i,'county']== 'Lassen ')| (homeless_rooms.loc[i,'county']== 'Lassen County'):
        homeless_rooms.loc[i,'county'] = 'Lassen'
    if (homeless_rooms.loc[i,'county']== 'Mariposa ')| (homeless_rooms.loc[i,'county']== 'Mariposa County'):
        homeless_rooms.loc[i,'county'] = 'Mariposa'
    if (homeless_rooms.loc[i,'county']== 'Mendocino ')| (homeless_rooms.loc[i,'county']== 'Mendocino County'):
        homeless_rooms.loc[i,'county'] = 'Mendocino'
    if (homeless_rooms.loc[i,'county']== 'Mariposa ')| (homeless_rooms.loc[i,'county']== 'Mariposa County'):
        homeless_rooms.loc[i,'county'] = 'Mariposa'
    if (homeless_rooms.loc[i,'county']== 'Merced ')| (homeless_rooms.loc[i,'county']== 'Merced County'):
        homeless_rooms.loc[i,'county'] = 'Merced'
    if (homeless_rooms.loc[i,'county']== 'Monterey ')| (homeless_rooms.loc[i,'county']== 'Monterey County'):
        homeless_rooms.loc[i,'county'] = 'Monterey'
    if (homeless_rooms.loc[i,'county']== 'Napa ')| (homeless_rooms.loc[i,'county']== 'Napa County '):
        homeless_rooms.loc[i,'county'] = 'Napa'
    if (homeless_rooms.loc[i,'county']== 'Nevada ')| (homeless_rooms.loc[i,'county']== 'Nevada County '):
        homeless_rooms.loc[i,'county'] = 'Nevada'
    if (homeless_rooms.loc[i,'county']== 'Orange ')| (homeless_rooms.loc[i,'county']== 'Orange County'):
        homeless_rooms.loc[i,'county'] = 'Orange'
    if (homeless_rooms.loc[i,'county']== 'Placer ')| (homeless_rooms.loc[i,'county']== 'Placer County'):
        homeless_rooms.loc[i,'county'] = 'Placer'
    if (homeless_rooms.loc[i,'county']== 'Plumas ')| (homeless_rooms.loc[i,'county']== 'Plumas County'):
        homeless_rooms.loc[i,'county'] = 'Plumas'
    if (homeless_rooms.loc[i,'county']== 'Riverside ')| (homeless_rooms.loc[i,'county']== 'Riverside County'):
        homeless_rooms.loc[i,'county'] = 'Riverside'
    if (homeless_rooms.loc[i,'county']== 'Sacramento ')| (homeless_rooms.loc[i,'county']== 'Sacramento County'):
        homeless_rooms.loc[i,'county'] = 'Sacramento'
    if (homeless_rooms.loc[i,'county']== 'San Benito ')| (homeless_rooms.loc[i,'county']== 'San Benito County'):
        homeless_rooms.loc[i,'county'] = 'San Benito'
    if (homeless_rooms.loc[i,'county']== 'San Bernardino ')| (homeless_rooms.loc[i,'county']== 'San Bernardino\xa0County'):
        homeless_rooms.loc[i,'county'] = 'San Bernardino'
    if (homeless_rooms.loc[i,'county']== 'San Diego ')| (homeless_rooms.loc[i,'county']== 'San Diego County'):
        homeless_rooms.loc[i,'county'] = 'San Diego'
    if (homeless_rooms.loc[i,'county']== 'San Joaquin ')| (homeless_rooms.loc[i,'county']== 'San Joaquin County'):
        homeless_rooms.loc[i,'county'] = 'San Joaquin'
    if (homeless_rooms.loc[i,'county']== 'San Mateo ')| (homeless_rooms.loc[i,'county']== 'San Mateo County'):
        homeless_rooms.loc[i,'county'] = 'San Mateo'
    if (homeless_rooms.loc[i,'county']== 'Santa Barbara ')| (homeless_rooms.loc[i,'county']== 'Santa Barbara County'):
        homeless_rooms.loc[i,'county'] = 'Santa Barbara'
    if (homeless_rooms.loc[i,'county']== 'Santa Clara ')| (homeless_rooms.loc[i,'county']== 'Santa Clara County'):
        homeless_rooms.loc[i,'county'] = 'Santa Clara'
    if (homeless_rooms.loc[i,'county']== 'Santa Cruz ')| (homeless_rooms.loc[i,'county']== 'Santa Cruz County'):
        homeless_rooms.loc[i,'county'] = 'Santa Cruz'
    if (homeless_rooms.loc[i,'county']== 'Shasta ')| (homeless_rooms.loc[i,'county']== 'Shasta County'):
        homeless_rooms.loc[i,'county'] = 'Shasta'
    if (homeless_rooms.loc[i,'county']== 'Siskiyou ')| (homeless_rooms.loc[i,'county']== 'Siskiyou County'):
        homeless_rooms.loc[i,'county'] = 'Siskiyou'
    if (homeless_rooms.loc[i,'county']== 'Solano ')| (homeless_rooms.loc[i,'county']== 'Solano County'):
        homeless_rooms.loc[i,'county'] = 'Solano'
    if (homeless_rooms.loc[i,'county']== 'Sonoma ')| (homeless_rooms.loc[i,'county']== 'Sonoma County'):
        homeless_rooms.loc[i,'county'] = 'Sonoma'
    if (homeless_rooms.loc[i,'county']== 'Stanislaus ')| (homeless_rooms.loc[i,'county']== 'Stanislaus County'):
        homeless_rooms.loc[i,'county'] = 'Stanislaus'
    if (homeless_rooms.loc[i,'county']== 'Sutter ')| (homeless_rooms.loc[i,'county']== 'Sutter County'):
        homeless_rooms.loc[i,'county'] = 'Sutter'
    if (homeless_rooms.loc[i,'county']== 'Tulare ')| (homeless_rooms.loc[i,'county']== 'Tulare County'):
        homeless_rooms.loc[i,'county'] = 'Tulare'
    if (homeless_rooms.loc[i,'county']== 'Tuolumne ')| (homeless_rooms.loc[i,'county']== 'Tuolumne County'):
        homeless_rooms.loc[i,'county'] = 'Tuolumne'
    if (homeless_rooms.loc[i,'county']== 'Ventura ')| (homeless_rooms.loc[i,'county']== 'Ventura County'):
        homeless_rooms.loc[i,'county'] = 'Ventura'
    if (homeless_rooms.loc[i,'county']== 'Yolo ')| (homeless_rooms.loc[i,'county']== 'Yolo County'):
        homeless_rooms.loc[i,'county'] = 'Yolo'
    if (homeless_rooms.loc[i,'county']== 'Yuba ')| (homeless_rooms.loc[i,'county']== 'Yuba County'):
        homeless_rooms.loc[i,'county'] = 'Yuba'

In [169]:
#list of counties
county_list_homeless=homeless_rooms["county"].drop_duplicates()
county_list_homeless= county_list_homeless.reset_index()
county_list_homeless

    index          county
0       0         Alameda
1     293           Butte
2     352       Calaveras
3     586    Contra Costa
4    5740       Del Norte
5    3821       El Dorado
6     357          Fresno
7     185        Humboldt
8    2205        Imperial
9    5839            Kern
10   6768           Kings
11   1130          Lassen
12    598     Los Angeles
13    599          Madera
14     78           Marin
15    485        Mariposa
16    370       Mendocino
17    603          Merced
18   7499        Monterey
19    317            Napa
20    608          Nevada
21    609          Orange
22    610          Placer
23   2884          Plumas
24     32       Riverside
25    323      Sacramento
26    440      San Benito
27    441  San Bernardino
28    210       San Diego
29    970   San Francisco
30   7151     San Joaquin
31     40       San Mateo
32    621   Santa Barbara
33    448     Santa Clara
34    507      Santa Cruz
35   2357          Shasta
36   7939        Siskiyou
37   7100          Solano
38    512          Sonoma
39    513      Stanislaus
40    282          Sutter
41   3626          Tulare
42   7887        Tuolumne
43    635         Ventura
44    230            Yolo
45    347            Yuba

In [170]:
homeless_rooms

       county        date  rooms  rooms_occupied
0     Alameda  2020-04-14  403.0           115.0
406   Alameda  2020-04-21  403.0           346.0
464   Alameda  2020-04-22  403.0           346.0
580   Alameda  2020-04-24  385.0           344.0
290   Alameda  2020-04-19  403.0           328.0
...       ...         ...    ...             ...
1110     Yuba  2020-05-02   31.0            18.0
1950     Yuba  2020-05-16   28.0            20.0
1170     Yuba  2020-05-03   31.0            18.0
3750     Yuba  2020-06-23   23.0            11.0
2610     Yuba  2020-05-27   22.0            18.0

[5311 rows x 4 columns]

In [177]:
#Add Month colomn to organize data
homeless_rooms["Month"] = [''.join(x.split('-')[0:2]) for x in homeless_rooms.date]
homeless_rooms.dtypes

county             object
date               object
rooms             float64
rooms_occupied    float64
Month              object
dtype: object

In [176]:
#group data by Month
#homeless_rooms=homeless_rooms.set_index("Month")
homeless_rooms_month = homeless_rooms.groupby(['Month'],['county'],as_index=False)['rooms'].mean()
#homeless_rooms_month = homeless_rooms.groupby(['Month'],['county']).size().mean()
homeless_rooms_month

TypeError: unhashable type: 'list'