In [4]:
#dependecis and setup
import pandas as pd
import numpy as np

#Output File
clean_date = "CleanCSV/ICU_county.csv"
#load file
icu_data = "Resources/hospitals_by_county.csv"

icu_data = pd.read_csv(icu_data)
icu_data_df = pd.DataFrame(bed_data)
icu_data_df.head()

,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
county,,,,,,,,
Humboldt,2020-03-29,1.0,10.0,NaN,NaN,0.0,0.0,18.0
Lake,2020-03-29,0.0,1.0,NaN,NaN,0.0,1.0,2.0
Kern,2020-03-29,16.0,57.0,NaN,NaN,8.0,8.0,39.0
Yuba,2020-03-29,2.0,12.0,NaN,NaN,2.0,4.0,2.0
Fresno,2020-03-29,8.0,116.0,NaN,NaN,3.0,14.0,22.0

In [11]:
#icu_data_df.set_index("county")
#icu_data_df.head()

In [20]:
Sorted_data = icu_data_df.loc[['Alameda', 'Amador', 'Butte', 'Calaveras', 'Colusa', 'Contra Costa', 'Del Norte',
                             'El Dorado', 'Fresno', 'Glenn','Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 
                             'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino', 'Merced', 'Modoc',
                             'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange', 'Placer',
                             'Plumas', 'Riverside', 'Sacramento', 'San Benito', 'San Bernardino', 'San Diego', 
                             'San Francisco', 'San Joaquin', 'San Luis Obispo','San Mateo', 'Santa Clara',
                             'Shasta','Sutter', 'Siskiyou', 'Solano', 'Sonoma','Santa Barbara', 
                             'Stanislaus', 'Tuolumne', 'Trinity', 'Tehama', 'Tulare','Ventura', 'Yolo', 'Yuba'],
                    ['todays_date', 'hospitalized_covid_confirmed_patients', 'hospitalized_suspected_covid_patients', 
                     'icu_covid_confirmed_patients', 'icu_suspected_covid_patients', 'icu_available_beds']]
Sorted_data

,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
county,,,,,,
Alameda,2020-03-29,36.0,91.0,20.0,16.0,119.0
Alameda,2020-03-30,59.0,89.0,27.0,18.0,146.0
Alameda,2020-03-31,56.0,94.0,27.0,17.0,77.0
Alameda,2020-04-01,52.0,76.0,27.0,15.0,106.0
Alameda,2020-04-02,57.0,76.0,29.0,17.0,112.0
...,...,...,...,...,...,...
Yuba,2020-10-12,11.0,1.0,1.0,0.0,16.0
Yuba,2020-10-13,11.0,0.0,1.0,0.0,15.0
Yuba,2020-10-14,8.0,0.0,0.0,0.0,14.0
Yuba,2020-10-15,8.0,0.0,1.0,0.0,10.0
Yuba,2020-10-16,9.0,1.0,0.0,0.0,15.0

In [24]:
icu_hospital_clean_data = Sorted_data.rename(columns={"hospitalized_covid_confirmed_patients": "Confirmed Covid Patients", 
                                         "hospitalized_suspected_covid_patients": "Suspected Covid Patinets",
                                        "todays_date": "Date", "icu_covid_confirmed_patients": "Confirmed Covid ICU Patients",
                                        "icu_suspected_covid_patients": "ICU suspected COVID Patients", "icu_available_beds": "ICU Beds Available"})
icu_hospital_clean_data

,Date,Confirmed Covid Patients,Suspected Covid Patinets,Confirmed Covid ICU Patients,ICU suspected COVID Patients,ICU Beds Available
county,,,,,,
Alameda,2020-03-29,36.0,91.0,20.0,16.0,119.0
Alameda,2020-03-30,59.0,89.0,27.0,18.0,146.0
Alameda,2020-03-31,56.0,94.0,27.0,17.0,77.0
Alameda,2020-04-01,52.0,76.0,27.0,15.0,106.0
Alameda,2020-04-02,57.0,76.0,29.0,17.0,112.0
...,...,...,...,...,...,...
Yuba,2020-10-12,11.0,1.0,1.0,0.0,16.0
Yuba,2020-10-13,11.0,0.0,1.0,0.0,15.0
Yuba,2020-10-14,8.0,0.0,0.0,0.0,14.0
Yuba,2020-10-15,8.0,0.0,1.0,0.0,10.0
Yuba,2020-10-16,9.0,1.0,0.0,0.0,15.0

In [25]:
icu_hospital_clean_data.to_csv("CleanCSV/clean_hospitals_by_count.csv", index = False)