In [61]:
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
county_unemployment=pd.read_csv("unemployment6.csv")
county_unemployment

,Area_Name,Date,Year,Month,Employment,Unemployment,Unemployment_Rate
0,California,01/01/2020,2020,January,18637400,840000,0.043
1,California,01/01/2020,2020,January,18756400,753300,0.039
2,Alameda County,01/01/2020,2020,January,815500,25700,0.031
3,Alpine County,01/01/2020,2020,January,620,30,0.046
4,Amador County,01/01/2020,2020,January,14160,700,0.047
...,...,...,...,...,...,...,...
9442,"Yuba City, CA MSA",04/01/2020,2020,April,62453,12573,0.168
9443,"Yuba City, CA MSA",05/01/2020,2020,May,59681,11605,0.163
9444,"Yuba City, CA MSA",06/01/2020,2020,June,59798,10683,0.152
9445,"Yuba City, CA MSA",07/01/2020,2020,July,59864,9925,0.142
9446,"Yuba City, CA MSA",08/01/2020,2020,August,59977,8566,0.125

In [63]:
# sorts counties alphabetically and resets the index
county_asc_unemployment = county_unemployment.sort_values(by=['Area_Name'],ascending = True)
county_unemployment = county_unemployment.reset_index(drop=True)

# saving to csv
county_unemployment.to_csv('Clean_County_Unemployment.csv')

county_unemployment

,Area_Name,Date,Year,Month,Employment,Unemployment,Unemployment_Rate
0,California,01/01/2020,2020,January,18637400,840000,0.043
1,California,01/01/2020,2020,January,18756400,753300,0.039
2,Alameda County,01/01/2020,2020,January,815500,25700,0.031
3,Alpine County,01/01/2020,2020,January,620,30,0.046
4,Amador County,01/01/2020,2020,January,14160,700,0.047
...,...,...,...,...,...,...,...
9442,"Yuba City, CA MSA",04/01/2020,2020,April,62453,12573,0.168
9443,"Yuba City, CA MSA",05/01/2020,2020,May,59681,11605,0.163
9444,"Yuba City, CA MSA",06/01/2020,2020,June,59798,10683,0.152
9445,"Yuba City, CA MSA",07/01/2020,2020,July,59864,9925,0.142
9446,"Yuba City, CA MSA",08/01/2020,2020,August,59977,8566,0.125

In [64]:
# renaming columns
county_unemployment.columns = ['Area_Name', 'Date', 'Year', 'Month', 'Employment', 'Unemployment', 'Unemployment_Rate']

# changing Date series to datetime format
county_unemployment['Date'] = pd.to_datetime(county_unemployment['Date'])
county_unemployment['Date']

# grouping df by county then date and retrieving max count values per month for each county
county_unemployment = county_unemployment.groupby(['Area_Name', county_unemployment['Date'].dt.strftime('%B')]).max()

In [66]:

# grouping df by county then date and retrieving max count values per month for each county
county_mon_unemployment = county_unemployment.groupby(['Area_Name', county_unemployment['Date'].dt.strftime('%B')]).max()

# reordering month index to  go by calendar order 
county_mon_group = county_mon_unemployment.reindex(['March', 'April', 'May', 'June', 'July', 'August', 'September'], level=1)

# saving to csv
county_mon_group.to_csv("Unemployment_count_groupby_Area_Name.csv")
county_mon_group

                                  Date  Year      Month  Employment  \
Area_Name         Date
Acton CDP         March     2020-03-01  2020      March        3400
                  April     2020-04-01  2020      April        2700
                  May       2020-05-01  2020        May        2700
                  June      2020-06-01  2020       June        2800
                  July      2020-07-01  2020       July        2900
...                                ...   ...        ...         ...
Yucca Valley town May       2020-05-01  2020        May        7100
                  June      2020-06-01  2020       June        7300
                  July      2020-07-01  2020       July        7400
                  August    2020-08-01  2020     August        7500
                  September 2020-09-01  2020  September        7600

                             Unemployment  Unemployment_Rate
Area_Name         Date
Acton CDP         March               200              0.049
                  April               500              0.159
                  May                 500              0.163
                  June                500              0.153
                  July                500              0.144
...                                   ...                ...
Yucca Valley town May                1600              0.187
                  June               1600              0.184
                  July               1600              0.175
                  August             1200              0.139
                  September          1200              0.139

[7320 rows x 6 columns]