In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
filepath = 'ppe_data_clean.csv'

analysisDF = pd.read_csv(filepath, index_col = 'County')

In [12]:
analysisDF

         Unnamed: 0              Product  Amount Fulfilled  Month
County
Alameda     2991588     KN95 Respirators            1260.0     10
Alameda     1971415          Cloth Masks           31500.0      9
Alameda     1971414     N-95 Respirators             960.0      9
Alameda     1224416   Examination Gloves           50000.0      9
Alameda     2917184     N-95 Respirators            1260.0     10
...             ...                  ...               ...    ...
Yuba        2485234      Pharmaceuticals               6.0      9
Yuba        2831114  Viral Testing Media            1600.0      9
Yuba        2160369      Hand Sanitizers              64.0     10
Yuba         799613  Viral Testing Media             500.0      8
Yuba         267690      Hand Sanitizers            6200.0      9

[1564708 rows x 4 columns]